/*
Syntax error: Undefined mixin 'sansFOnt'.
        on line 8 of /Users/matteo/Lavoro/projects/frontup/stylesheets/_layout.scss, in `sansFOnt'
        from line 8 of /Users/matteo/Lavoro/projects/frontup/stylesheets/_layout.scss
        from line 20 of /Users/matteo/Lavoro/projects/frontup/stylesheets/application.scss

Backtrace:
/Users/matteo/Lavoro/projects/frontup/stylesheets/_layout.scss:8:in `sansFOnt'
/Users/matteo/Lavoro/projects/frontup/stylesheets/_layout.scss:8
/Users/matteo/Lavoro/projects/frontup/stylesheets/application.scss:20
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:251:in `visit_mixin'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:318:in `visit_rule'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:225:in `block in visit_import'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:225:in `map'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:225:in `visit_import'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:126:in `visit_root'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/tree/root_node.rb:20:in `render'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/engine.rb:315:in `_render'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.3/lib/sass/engine.rb:262:in `render'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.9/lib/fssm/path.rb:73:in `call'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.9/lib/fssm/path.rb:73:in `run_callback'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.9/lib/fssm/path.rb:55:in `callback_action'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.9/lib/fssm/path.rb:35:in `update'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.9/lib/fssm/state/directory.rb:39:in `block in modified'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.9/lib/fssm/state/directory.rb:37:in `each'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.9/lib/fssm/state/directory.rb:37:in `modified'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.9/lib/fssm/state/directory.rb:18:in `refresh'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:17:in `each'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:17:in `block in run'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:15:in `loop'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:15:in `run'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.9/lib/fssm/monitor.rb:26:in `run'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/fssm-0.2.9/lib/fssm.rb:70:in `monitor'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:87:in `perform'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/bin/compass:19:in `load'
/Users/matteo/.rvm/gems/ruby-1.9.2-p290/bin/compass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'sansFOnt'.\A         on line 8 of /Users/matteo/Lavoro/projects/frontup/stylesheets/_layout.scss, in `sansFOnt'\A         from line 8 of /Users/matteo/Lavoro/projects/frontup/stylesheets/_layout.scss\A         from line 20 of /Users/matteo/Lavoro/projects/frontup/stylesheets/application.scss"; }
