@import "colors";   // mthe color library
@import "commons";  // mixin and common classes

.box_single_book{ 
    // un box non può avere caratteristiche se non il colore di sfondo
    // niente border, niente margini o padding, nè altro che alteri al sua struttura
    // tutto il contenuto deve stare dentro una section che eredita alcune proprietà
    // dalla libreria LEGO

    background-color: $cGrayLight;
    $box_gap: 5px;      // dare coerenza agli spazi
    $fontFactor: 1.2;   // fattore di scala per font, line-height ecc.
    section{
        padding: $box_gap;
        .cover{
            width: 100px;
            max-height: 135px;
            float: left;
            border: 3px solid $cWhite;
            margin: 0 $box_gap $box_gap 0;
                overflow: hidden;
            img{
                width: 100%;
                height: auto;
            }
        }
        .content{
            // forzo la posizione in modo tale che si possa adeguare all'altezza del box
            // nascondendo il contenuto nel caso sia più lungo del contenitore
            position: absolute;
            top: $box_gap;
            bottom: 22px;
            right: $box_gap;
            overflow:hidden;

            // l'oggetto è largo il 100% in quanto block
            // ma il contentuo deve stare oltre la larghezza dell'immagine
            // che è posizionata in float left
            padding-left: 120px;
            >header{
                h1{
                    font-size: 13px;
                    margin-bottom: $box_gap;
                    font-weight: bold;
                }
                .meta{
                    font-size: 0.9em;
                    margin-bottom: $box_gap;
                }
            }
            article{
                font-size: 11px;

            }
        }
        .rating{
            position: absolute;
            color: $cCyan;
            width: 100px;
            bottom: $box_gap;
            right: $box_gap;
            font-size: 20px;
            line-height: 5px;
            text-align: right;
        }
    }
    &.box_1{
        section{
            .content{
                >header{
                    h1{
                        font-size: 0.7em;
                        overflow: hidden;           
                        max-height: 95px;
                    }
                    ul.meta{
                        font-size: 0.7em;
                    }
                }
                article{
                    display: none;
                }
            }
        }
    }
    &.box_2{
        section{
            .content{
                >header{
                    h1{
                    }
                    ul.meta{
                    }
                }
                article{
                    font-size: 13px;
                }
            }
        }
    }
}