// HIVE USER CONFIG

// SITE CONFIGURATION
$site-footer-height:      250px;
$site-debug:              1;          // debug mode

// COMPASS CONFIG
$experimental-support-for-svg: true;
$s-layout:smart;
@import "s/*.png";

// 3rd parties libs
@import "compass";
@import "site_colors";
@import "site_mixins";
@include debug($site-debug);
