// DEFINE YOUR GENERIC BASE STYLE FOR TAGS AND CLASSES
html,body{
    height: 100%;
    min-height: 100%;
}

body{
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    a{
        @include link-colors($cRed);
        @include hover-link;
    }
    #wrapper{
        min-height: 100%;
        position: relative;
        >header{
            min-height: 200px;
            border-bottom: 1px dotted $cGray;
        }
        #content{
            padding-bottom: $footerHeight + 20px;
            @include clearfix();
        }
        >footer{
            border: 1px solid green;
            position: absolute;
            bottom: 0;
            width: 100%;
            min-height: $footerHeight;
            height: $footerHeight;
            background-color: $cGray;
            color: $cWhite;
        }
    }
}
